<h1>Dobrodošli u Admin Panel</h1>
<ul>
	<li><a href="manage_users.php">Upravljaj korisnicima</a></li>
	<li><a href="manage_teas.php">Upravljaj cajevima</a></li>
	<li><a href="/project/app/Services/report_users.php">Generiši izveštaj o korisnicima (PDF)</a></li>
	<li><a href="/project/app/Services/report_orders.php">Generiši izveštaj o porudžbinama (Excel)</a></li>
	<li><a href="logout.php">Odjavite se</a></li>
</ul>
