<h1>Dobrodošli u Menadzer Panel</h1>
<ul>
	<li><a href="manager_users.php">Upravljaj korisnicima</a></li>
	<li><a href="view_log.php">Pregled aktivnosti</a></li>
	<li><a href="search.php">Pretrazi cajeve</a></li>
	<li><a href="logout.php">Odjavite se</a></li>
</ul>
